.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

synoptic_dashboard/test_data/
/.secrets
/synoptic_dashboard/.secrets
synoptic_dashboard/rsconnect/shinyapps.io/compassdashboards/BETA_synoptic_dashboard.dcf
